.price {
  font-size: calc(1vw + 14px);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0;
}
.price span {
  white-space: nowrap;
  font-size: calc(1vw + 14px);
}
.price .line {
  text-decoration: line-through;
  margin-right: 20px;
  color: #b4b4b4;
}
