.actions {
  display: flex;
  width: 100%;
  max-width: 500px;
  align-items: center;
  flex-wrap: wrap;
  align-self: flex-start;
  justify-content: flex-start;
}
.quantity {
  display: flex;
  align-items: center;
  flex: 0;
  margin: 10px;
}
.quantity input {
  height: 30px;
  width: 60px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  border: 0;
  text-align: center;
}
.quantity span {
  margin-right: 10px;
}
.quantity button {
  width: 25px;
  height: 34px;
  padding: 0 5px;
  line-height: 34px;
  font-size: 20px;
  color: black;
  cursor: pointer;
  border: 0.5px solid rgb(139, 139, 139);
  background-color: transparent;
  border-radius: 20%;
  outline: none;
}

.actions .cart,
.actions .disabledCart {
  flex: 1;
  display: flex;
  align-items: center;
  border: 2px solid rgb(115, 115, 245);
  justify-content: space-between;
  margin: 0 10px;
  color: black;
  white-space: nowrap;
  flex-wrap: nowrap;
}
.actions .disabledCart {
  border: 2px solid gray;
  color: gray;
}
.actions .cart:hover button,
.actions .cart:hover span {
  background-color: rgb(158, 212, 243);
  color: rgb(255, 255, 255);
}
.actions .cart button,
.actions .cart span,
.actions .disabledCart button,
.actions .disabledCart span {
  height: 34px;
  line-height: 34px;
  border: 0;
  flex: 0;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 0 5px;
}

.actions .cart button,
.actions .disabledCart button {
  background-color: transparent;
  text-align: center;
  flex: 1;
  outline: none;
}
