.register {
  padding: 20px;
}
.register form {
  width: 100%;
  max-width: 450px;
  margin: 20px 0;
}
.register__link {
  display: flex;
  align-items: center;
  padding: 10px 0;
  flex-wrap: wrap;
}
